body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    background-image: url("../assets/pokemon-7680x4320.jpg");
    background-size: cover;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(3px);
    pointer-events: none;
}

/* Firefox */
* {
    scrollbar-width: 15px;
    scrollbar-color: #8632ca #d09cfa;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #a555ec;
}

*::-webkit-scrollbar-thumb {
    background-color: #8632ca;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #d09cfa;
}
